@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
  --white: #FFFCF2;
  --light_grey: #CCC5B9;
  --grey: #403D39;
  --black: #252422;
  --red: red;
}

/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}


  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 36px;
    border: 1px none #ff0000;
  }

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 2px solid var(--red);
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: var(--black);
  background-color: var(--light_grey);
  width: 120px;
  font-weight: 700;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  position: relative;
  top: 0;
  background-color: #161618;
  height: fit-content;
  background-image: url(".././assets/imgs/roger_guedes_torcida.jpg");
  background-size:100vw;
  background-repeat: no-repeat;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
  border-radius: 30px;
  background-color: #212124;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 1%;
  width: 30%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: center;
    font-weight: 600;
    margin: 20px;
    color: var(--white);
}

.botao_conferir_container{
display: flex;
justify-content: center;


}
.botao_conferir{
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: var(--red);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  border: none;
  }

.resultado_selects{
color: #FFFCF2;

}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
  background-color:#1b1a1a;

}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 1vh solid #FFFCF2;
  height: 15vh;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #FFFCF2;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FFFCF2;
}


.titulo {
  width: 105px;
  height: 100px;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 105px 0;
  color: #FFFCF2;
  background-image: url(".././assets/imgs/arena_index.jpg");
  background-size: cover;
  background-position-x: 15px;
}
x
.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 900px;
  font-size: 100px;
  color: #FFFCF2;
}

.banner .container span {
  font-weight: 800;
}

.botao_descobrir a{
  text-decoration: none;
  color: #252422;
  display: flex;
  margin-left: 750px;
  margin-right: 350px;
  height: 55px;
  font-size:25px;
  background-color: #FFFCF2;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}



/* FOOTER 

footer {
  background-color: #FFFCF2;
  height: 7px;
  color: #252422;
  display: flex;

}/

/* LOGIN */

.banner .container .card {
  background: #252422ad;
  background-position: center;
 text-align: center;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #FFFCF2;
  align-items: center;
  border-radius: 25px;
  padding-bottom: 50px;
}

.span_titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 40px;
  text-align: center;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

.tipo_campo{
  color: #FFFCF2;
  margin-left: 20px;
}
.confirmacao{
margin-right: 0px !important;
}


/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fffcf2ad;
  color: 252422;
  width: 230px;
  position: fixed;
  border-radius: 25px;
  border: #252422 1px solid;
  padding: 25px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
  margin-right: 130px;
  margin-top: 1rem;
}

.formulario input {
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  background-color: #FFFCF2;
}

input {
  border: 2px solid var(--red);
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 25px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #252422;
  background-color: #FFFCF2;
  width: 120px;
  align-self: center;
  margin-top: 3rem;

}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  flex-direction: column;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff0;
}

.dash-right {
  display: flex;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
}

.header-left h1 {
  color: var(--white);
}

.hello {
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: var(--white);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 20%;
  background-color: var(--white);
  color: var(--black);
  border-radius: 30px;
  text-align: center;
  padding: 10px 0;
}

.btn-nav-white {
  width: 20%;
  background-color: var(--white);
  color: var(--light_grey);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

.btn-nav-white h3 {
  color: var(--black);
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: var(--light_grey);
  color: var(--black);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
}

.resultado_selects{
  display: flex;
  align-items: center;
  justify-content: center;

}
