@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --white: #FFFCF2;
    --light_grey: #CCC5B9;
    --grey: #403D39;
    --black: #252422;
    --red: red;
  }
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
  background-color: var(--black);

}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 1vh solid #FFFCF2;
  height: 15vh;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #FFFCF2;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FFFCF2;
}


.titulo {
  width: 105px;
  height: 100px;
}


.botao_chamada{
  text-decoration: none;
  color: #252422;
  display: flex;
  margin-left: 750px;
  margin-right: 350px;
  height: 55px;
  font-size:25px;
  background-color: #FFFCF2;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
