@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --white: #FFFCF2;
    --light_grey: #CCC5B9;
    --grey: #403D39;
    --black: #252422;
    --red: red;
  }
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
  background-color: #1b1a1a;
  /*overflow: hidden;*/

}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}



.header {
  border-bottom: 1vh solid #FFFCF2;
  height: 15vh;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #FFFCF2;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FFFCF2;
}


.titulo {
  height: 15vh;
}

.container_pai{
  height: 100%;
  color: #FFFCF2;
  background-image: url(".././assets/imgs/arena_chamada.jpg");
  background-size: cover;
  background-position-y: -50px;
}

.container_filho{
  color: var(--black);
  font-weight: 500;
}

 .box_fundo{
  background: #252422ad;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #FFFCF2;
  align-items: center;
  padding: 20px 0;
}


.titulo_textos{
  font-size: 24px;
}
.textos{
  font-size: 16px;
  color: var(--white);
}

.textos_chamada{
  font-size: 18px;
}

.botao_chamada a{
    text-decoration: none;
    color: #252422;
    display: flex;
    margin-top: 10px;
    height: 55px;
    width: 170px;
    font-size:25px;
    background-color: #FFFCF2;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}


